<!doctype html>
<html>
  <title>Ultimate Bravery: The Home of the Brave</title>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% endblock %}
  </head>
  <body>
    <fieldset id="options">
      <legend>Choose your options, and roll!</legend>
      <form action="{{ url_for('set11') }}">
        <input type="checkbox" id="unified_box" name="unified" value="true" {{'checked' if ignore == 'true'}}>
        <label for="unified_box">Roll ignoring origin/class?</label>
        <input type="checkbox" id="pop_box" name="low_pop" value="true" {{'checked' if low == 'true'}}>
        <label for="pop_box">Exclude tiny traits?</label>
        <input type="submit" value="Roll Set 11">
      </form>
    </fieldset>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        <div>
            <span style="color:#d5ce02">Golden Rule:</span> <span style="color:#ffffff">Be brave, you big brave idiot!</span>
        </div>
    </div>
  </body>
</html>